{#
/**
* @file
* Template for a Secret element.
*
* Available variables:
* - value: The secret value.
*
* @ingroup themeable
*/
#}

{% set id = 'secret-id-' ~ random() %}

{{ attach_library('apigee_edge/apigee_edge.secret') }}
<div class="secret field__item" id={{ id }}>
  <div class="secret__value">{{ value }}</div>
  <div class="secret__value__hidden" aria-hidden="true">••••••••••••••••</div>
  <br/>
  <span class="secret__toggle" title="{{ 'Toggle key visibility'|t }}" aria-controls="{{ id }}">
    <a class="secret__toggle__show" href="#">{{ 'Show key'|t }}</a>
    <a class="secret__toggle__hide" href="#">{{ 'Hide key'|t }}</a>
  </span>
</div>
