{#
/**
 * @file
 * Default theme implementation to display credentials of a developer app.
 *
 * Available variables:
 * - primary_wrapper: Contains general information about the credential.
 * - secondary_wrapper: Contains the list of API products associated with the
 *   credential.
 * - content: All app credential properties. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_app_credential()
 *
 * @ingroup themeable
 */
#}
<fieldset {{ attributes }}>
  <legend>
    {{ 'Credential'|t }}
  </legend>
  <div class="fieldset-wrapper">
    {{ primary_wrapper }}
    {{ secondary_wrapper }}
  </div>
</fieldset>
