{#
/**
* @file
* Template for a Secret element.
*
* Available variables:
* - value: The secret value.
*
* @ingroup themeable
*/
#}

{% set id = 'secret-id-' ~ random() %}

{{ attach_library('apigee_edge/secret') }}
<div class="secret field__item d-flex flex-wrap" id={{ id }}>
    <div class="secret__value my-1 col-sm-12 col-md-5 p-0">{{ value }}</div>
    <div class="secret__value__hidden flex-grow-1 my-1 col-sm-12 col-md-5 p-0" aria-hidden="true">••••••••••••••••</div>
    <button class="secret__toggle btn btn-link p-2 text-dark" title="{{ 'Toggle key visibility'|t }}"
            aria-controls="{{ id }}">
<span class="secret__toggle__show">
<i class="fas fa-eye"></i>
<span class="sr-only">Show key</span>
</span>
        <span class="secret__toggle__hide">
<i class="fas fa-times"></i>
<span class="sr-only">Hide key</span>
</span>
    </button>
    <div class="secret__copy">
        <button class="secret__copy btn btn-link p-2 text-dark" data-value="{{ value }}"
                title="{{ "Copy key to buffer"|t }}">
            <i class="fas fa-paste"></i>
            <span class="sr-only">Copy key</span>
        </button>
        <span class="badge badge-light" role="status">{{ "Copied"|t }}</span>
    </div>

</div>
